- @hide_footer = true
= form_for(post) do |f|
  %ul.fields
    %li
      = f.text_field :title, :class => 'title'
    %li
      = f.text_area :text, :class => 'text'
      = error_for :text, post
  %ul.actions
    %li= f.submit t('.save_and_publish'), :name => :publish, :class => ('default' if post.published?)
    %li= f.submit t('.save_and_hide'), :class => ('default' unless post.published?)
    - unless post.new_record?
      %li.delete= link_to '×', post, :method => 'delete', :confirm => t('.confirm_delete')
