= form_for(@post) do |f|
  .field= f.text_field :title, :class => 'title'
  .field
    = f.text_area :text, :class => 'text'
    - unless @post.errors[:text].empty?
      .error= "Текст #{@post.errors[:text]}"
  .actions
    - if @post.published?
      = f.submit 'Сохранить', :name => 'save_button'
      = f.submit 'Сохранить скрытым', :name => 'save_and_hide_button'
    - else
      = f.submit 'Опубликовать', :name => 'publish_button'
      = f.submit 'Сохранить скрытым', :name => 'save_button'
