- @at_form = true
= form_for(@post) do |f|
  .field
    = f.text_field :title, :class => 'title'
  .field
    = f.text_area :text, :class => 'text'
    - unless @post.errors[:text].empty?
      .error= "#{t('.text')} #{@post.errors[:text]}"
  - unless @post.new_record?
    .actions.right= link_to '×', @post, :method => 'delete', :confirm => t('.confirm_delete'), :class => 'delete'
  .actions
    = f.submit t('.save_and_publish'), :name => :publish, :class => ('default' if @post.published?)
    = f.submit t('.save_and_hide'), :class => ('default' unless @post.published?)
