%article
  - if post.title.present?
    %h1= post.title
  = markdownize post.text
  %details
    = timestamps_for post
    = link_to '*', [:edit, post], :class => "admin", :rel => 'nofollow'
    = link_to '#', post, :title => t('.permalink')
