.post
  - if post.title.any?
    %h1= post.title
  = simple_format post.text
  %p.data
    %span{:title => Russian::strftime(post.created_at)}= Russian::strftime(post.created_at, '%e %B')
    = link_to '*', edit_post_path(post) if admin?
    = link_to '#', post