!!!
%html
  %head
    %title= title
    = stylesheet_link_tag 'http://yui.yahooapis.com/2.8.1/build/reset/reset-min.css'
    = stylesheet_link_tag 'main'
    - if admin?
      = stylesheet_link_tag 'admin' 
      = javascript_include_tag 'http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js'
      = javascript_include_tag 'rails'
    = csrf_meta_tag
  %body
    .header
      = link_to_unless @at_home, 'Поток мыслей', posts_path
      = link_to_unless @at_drafts, '~', unpublished_posts_path if admin?
    - if admin?
      .new_link= link_to '+', new_post_path
    = yield
    - unless admin?
      .footer
        Книга отзывов и предложений:
        = mail_to 'sema@sema.in'
    = counter_tag