!!!
%html{ :lang => I18n.locale }
  %head
    %meta{ :charset => Rails.application.config.encoding }
    %title= page_title
    = favicon_link_tag
    = yield :head
    = stylesheet_link_tag "application"
    = csrf_meta_tag
  %body
    = content_for?(:page) ? yield(:page) : yield
    = counter_tag
