!!!
%html{ :lang => I18n.locale }
  %head
    %meta{ :charset => Rails.application.config.encoding }
    %title= page_title
    = favicon_link_tag
    = auto_discovery_link_tag :rss, posts_url(:rss)
    :css
      .admin { display: none }
    = stylesheet_link_tag 'http://yui.yahooapis.com/2.8.1/build/reset/reset-min.css', 'application'
    = stylesheet_link_tag 'admin' if admin?
    /[if lte IE 8]
      = javascript_include_tag 'http://cachedcommons.org/javascripts/html5/html5-enabled-min.js'
    = javascript_include_tag :defaults
    = csrf_meta_tag
  %body
    %header
      %nav
        = link_to_unless current_page?(:controller => 'posts', :action => 'index'), t(:title), posts_path
        = link_to_unless current_page?(:controller => 'posts', :action => 'drafts'), '~', unpublished_posts_path, :class => "admin", :rel => 'nofollow'
        = yield :nav
        <span style="background-color:#777; padding:2px; margin-left:3em; font-size:50%; color:white;">* * *</span>
        <span style="background-color:#eee; padding:2px; font-size:60%; color: black;">Рекламы нет</span>
        <span style="background-color:#777; padding:2px; font-size:50%; color:white;">*</span>
        <span style="background-color:#eee; padding:2px; font-size:60%; color: black;">Публикации нифига не оплачены</span>
        <span style="background-color:#777; padding:2px; font-size:50%; color:white;">* * *</span>
        = link_to '+', new_post_path, :class => 'admin new_link', :rel => 'nofollow'
    %section#main= yield
    - unless @at_form
      %footer
        = "#{t('.feedback')}:"
        = mail_to 'sema@sema.in'
    = counter_tag
