- content_for :head do
  = auto_discovery_link_tag :rss, posts_url(:rss)
  = javascript_include_tag 'application'
  /[if lte IE 8]
    = javascript_include_tag 'http://cachedcommons.org/javascripts/html5/html5-enabled-min.js'

- content_for :page do
  %header
    %nav
      = link_to_unless params[:controller] == 'posts' && params[:action] == 'index', t(:title), posts_path
      = link_to_unless_current '~', unpublished_posts_path if admin?
      = yield :nav
      = link_to '+', new_post_path, :class => 'new_link' if admin?
  #content= yield
  - unless @hide_footer
    %footer
      != t('.feedback', :email => mail_to(t :email))

= render :file => 'layouts/application'
